*{
    margin: 0;
    padding: 0;
   
}

.navbar{
    /* background-color: aqua; */
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    /* padding-left: 25px ; */
    padding-right: 12px;
    padding-right: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;
}
.logo{
    font-weight: bold;
    font-size: 45px;
    margin-left: 65px;
}


.menu li{
    position: relative;
    padding-right: 25px;
}
.menu ul{
    margin-top: 10px;
    display: flex;
    list-style-type: none;
}
.menu li a{
    /* margin: 20px; */
    font-size: 30px;
    text-transform: capitalize;              
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}
.menu a::after{
    content: '';
    position: absolute;
    width:0%;
    height: 2px;
    background: #fc604d;
    left: 0;
    bottom: -4px;
    transition: ease .42s;
 }
 .menu a:hover::after{
     width: 80%;
 }
 .menu a:hover{
     color: #fc604d;
 }

 hr{
    height: 5px;
    width: auto;
    color: #000;
    background-color: #000;
    margin: 15px;
    margin-bottom: 30px;
}
img{
    height: 500px;
    width: auto;
    border: 2px;
    border-radius: 50px;
    display:flex;
    margin-left: 28%;
    margin-bottom: 0;
    padding: 0;
    
}
img:hover{
    transform: translate(0,-10px);
    color: #f71d00;
}
.content{
    height: auto;
    width: 90%;
    background-color:rgba(231, 248, 146, 0.973);
    border-color: #000;
    box-sizing: border-box;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 80px;
    margin-bottom: 20px;
    text-align: justify;  
    box-shadow: rgba(246, 223, 77, 0.8) 0 0 15px 13px      
}

/* .navbar{
    background:aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

p{
    font-size: 50px;
    width: auto;
    margin-left: 15%;
}
#intro{
    font-size: 50px;
    width: auto;
    margin-left: 70px;
}
.bbb{
   
    margin-left: 70px;
    margin-right: 70px;
    font-size: 30px;
}
section{
    font-size: 45px;
    text-align: end;
    padding-right: 80px;
    padding-bottom:40px ;
    
}
footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px; 
    background-color: rgb(245, 192, 69);
    /* color: white; */
    text-align: center;
    justify-content: center;
    /* height: 500px; */
    display: flex;
    
 }
.menu{
    padding-bottom: 25px;
}
/* .foot{  
     width: auto;
     /* background-color: aqua; */
     /* border-radius: 50px; */
     /* display: flex; */
     /* justify-content:space-between; */
     /* padding-left: 25px ; */
     /* padding-right: 12px;
     padding-right: 12px;
     margin-top: 5px;
     margin-bottom: 10px;    
 } */
 .icon i{
    margin-right: 20px;
    font-size: 40px;
    color: #0b0b0b;
    transition: .6s;
}

.icon i:hover{
    transform: translate(0,-10px);
    color: #f71d00;
}